<main>
  <h1>Road Map</h1>
  <section>
    <h2>2 December 2022</h2>
    <div class="grid-wrapper">
      <article>
        <h3>Planning phase</h3>
        <p>Life finds a way. You know what? It is beets.</p>
      </article>
      <article>
        <h3>Phase 1</h3>
        <p>I've crashed into a beet truck</p>
      </article>
      <article>
        <h3>Phase 2</h3>
        <p>I was part of something special.</p>
      </article>
      <article>
        <h3>Phase 3</h3>
        <p>
          Designing Phase
        </p>
        <img
        src="https://previews.123rf.com/images/viyada123rf/viyada123rf2008/viyada123rf200800550/154611818-chinese-house-building-of-chinese-style-creative-design-for-day-adorn-the-place-with-paper-lanterns-.jpg?fj=1"
          alt="Black and white photo of a lake"
        />
      </article>
      <article>
        <h2>3 March 2023</h2>
        <h3>Phase 1</h3>
        <p>
          Just my luck, no ice. God help us, we're in the hands of engineers.
        </p>
      </article>
      <article>
        <h3>Phase 2</h3>
        <p>God love all of us, and God love me, for I am doing the best I can.</p>
      </article>
      <article>
        <h3>Phase 3</h3>
        <p>
          God love all of us, and God love me, for I am doing the best I can.
        </p>
      </article>
      <article>
        <h3>Phase 4</h3>
        <p>Prepare for Funding after design is ready</p>
        <img
        src="https://previews.123rf.com/images/rodho/rodho0907/rodho090700048/5286346-temple-of-xichan-in-fuzhou-china-xichan-temple-dating-from-thousand-years-ago-is-very-famous-place-f.jpg?fj=1"
        alt="Black and White Eiffel Tower" alt="Black and white Mountian view">
      </article>
    </div>
  </section>
  <section>
    <h2>3 April 2023</h2>
    <div class="grid-wrapper">
      <article>
        <h3>Review Architecture's Design</h3>
        <p>Life finds a way. You know what? It is beets.</p>
      </article>
      <article>
        <h3>1st Meeting with committee's Members</h3>
        <p>I've crashed into a beet truck</p>
      </article>
      <article>
        <h3>2nd Meeting with committee's Members</h3>
        <p>I was part of something special.</p>
      </article>
      <article>
        <h3>Final Meeting with committee's Members</h3>
        <p>
          Yeah, but your scientists were so preoccupied with whether or not they
          could, they didn't stop to think if they should.
        </p>
        <img
          src="https://previews.123rf.com/images/richie0703/richie07031909/richie0703190900082/129770000-night-scene-of-confucius-temple-in-taipei-taiwan.jpg?fj=1"
          alt="Example Temple"
        />
      </article>
      <article>
        <h2>3 June 2023</h2>
        <h3>Meeting with Commitee for extra outer Statues</h3>
        <p>
          Just my luck, no ice. God help us, we're in the hands of engineers.
        </p>
      </article>
      <article>
        <h3>2nd Meeting with Commitee for extra outer Statues</h3>
        <p>I gave it a cold? I gave it a virus. A computer virus.</p>
      </article>
      <article>
        <h3>3rd Meeting with Commitee for extra Statues</h3>
        <p>
          God love all of us
        </p>
      </article>
      <article>
        <h3></h3>
        <p>Guan Gong Statute</p>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/a/a1/Hatyai-Hill-Kuan-Yin-Temple-Guan-Gong-Statute-Image-450x686.jpg"
          alt="Black and white Mountian view"
          style="object-position: top;"
        />
      </article>
    </div>
  </section>
  <p class="footer-note">
    Design by
    <a
      href="https://fbaw-my.com/"
      >Einstein Yap</a
    >
  </p>
</main>
