<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"><mat-icon>home</mat-icon> 主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"><mat-icon>info</mat-icon> 关于关帝庙</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact"><mat-icon>contact_phone</mat-icon> 联系</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  